.横並びA {
	display: flex;
	
	gap: 20px;
	
	justify-content: center;
	
	& .列 {
		background-color: orange;
		
		width: 80px
	}
}

.横並びB {
	display: flex;
	
	justify-content: space-between;
	
	& .広い列 {
		background-color: lightblue;
		width: 200px;
	}
	
	& .狭い列 {
		background-color: lightgreen;
		width: 120px;
	}
}


.縦並び1 {
	background-color: white;
	padding: 20px;
	border: solid;
	

.イヌ {
		font-size: 40px;
		font-weight: bold;
		
	}
	
}

.縦並び2 {
	background-color: white;
	padding: 20px;
	border: solid;
	

.ヤク {
		font-size: 40px;
		font-weight: bold;
		
	}
	
}

.縦並び3 {
	background-color: white;
	padding: 20px;
	border: solid;

.キツネ {
		font-size: 40px;
		font-weight: bold;
		
	}
	
}




.横並び {
	display: flex;
	gap: 20px;
}


